<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>中学闵行</string>
		<key>icon</key>
		<string>timg1.jpeg</string>
		<key>grade</key>
		<string>小学初中</string>
		<key>distance</key>
		<string>1km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>275元起</string>
		<key>teachTime</key>
		<string>8</string>
		<key>attendTime</key>
		<string>600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>静安数学张老师</string>
		<key>icon</key>
		<string>timg2.jpeg</string>
		<key>grade</key>
		<string>小学初中</string>
		<key>distance</key>
		<string>0.5km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>285元起</string>
		<key>teachTime</key>
		<string>7</string>
		<key>attendTime</key>
		<string>350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闵行陈老师</string>
		<key>icon</key>
		<string>timg3.jpeg</string>
		<key>grade</key>
		<string>英语初中高中</string>
		<key>distance</key>
		<string>8km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>300元起</string>
		<key>teachTime</key>
		<string>6</string>
		<key>attendTime</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闵行张老师</string>
		<key>icon</key>
		<string>timg4.jpeg</string>
		<key>grade</key>
		<string>英语初中</string>
		<key>distance</key>
		<string>5km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>300元起</string>
		<key>teachTime</key>
		<string>3.5</string>
		<key>attendTime</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闵行王老师</string>
		<key>icon</key>
		<string>timg5.jpeg</string>
		<key>grade</key>
		<string>物理初中高中</string>
		<key>distance</key>
		<string>5km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>250元起</string>
		<key>teachTime</key>
		<string>6</string>
		<key>attendTime</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>静安王老师</string>
		<key>icon</key>
		<string>timg6.jpeg</string>
		<key>grade</key>
		<string>化学初中</string>
		<key>distance</key>
		<string>6km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>240元起</string>
		<key>teachTime</key>
		<string>5</string>
		<key>attendTime</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>静安赵老师</string>
		<key>icon</key>
		<string>timg7.jpeg</string>
		<key>grade</key>
		<string>物理初中高中</string>
		<key>distance</key>
		<string>7km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>250元起</string>
		<key>teachTime</key>
		<string>3</string>
		<key>attendTime</key>
		<string>300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闵行钱老师</string>
		<key>icon</key>
		<string>timg8.jpeg</string>
		<key>grade</key>
		<string>英语初中</string>
		<key>distance</key>
		<string>5km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>300元起</string>
		<key>teachTime</key>
		<string>4</string>
		<key>attendTime</key>
		<string>360</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闵行文老师</string>
		<key>icon</key>
		<string>timg9.jpeg</string>
		<key>grade</key>
		<string>地理初中</string>
		<key>distance</key>
		<string>6km</string>
		<key>realname</key>
		<string>实名学历</string>
		<key>price</key>
		<string>200元起</string>
		<key>teachTime</key>
		<string>10</string>
		<key>attendTime</key>
		<string>550</string>
	</dict>
</array>
</plist>
