<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>小学初中</string>
			<key>text</key>
			<string>主要界面分为个人中心界面，主页界面，帮我选界面（在线抢单界面），课程界面adsadsadasdsadsadsadsassadsadsadassadsadsadsadsadsadsadsadasdasdsadsadsadsadsadsadsa
	•	个人中心功能（学生）：订单管理，我的钱包，讲学券管理，我的老师，我的助教，我的评论，我的问答，我的课程，学习计划与总结</string>
		</dict>
		<dict>
			<key>title</key>
			<string>初中高中</string>
			<key>text</key>
			<string>受苹果的iOS和谷歌的Android 操作系统的影响，只能手机的销量激增。这些只能手机已经成为强大的设备，基本成为微型版本的个人电脑。然而，日益流行和成熟的智能手机也增加了操作这些设备用户对自己隐私的担忧。事实上随着用户安装和执行第三方应用程序变得越来越容易，这些问题已经加剧了。
为了保护用户不受恶意应用程序影响，苹果退出了一个审查过程。这个审查过程必须确保所有应用程序符合苹果的（隐私）规则才能通过应用商店。不幸的是，这种审查过程不是万无一失的，在用户投诉之后，这种有恶意的应用程序必须从应用商店删除。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>戴同学中考数学146分</string>
			<key>text</key>
			<string>受苹果的iOS和谷歌的Android 操作系统的影响，只能手机的销量激增。这些只能手机已经成为强大的设备，基本成为微型版本的个人电脑。然而，日益流行和成熟的智能手机也增加了操作这些设备用户对自己隐私的担忧。事实上随着用户安装和执行第三方应用程序变得越来越容易，这些问题已经加剧了。
为了保护用户不受恶意应用程序影响，苹果退出了一个审查过程。这个审查过程必须确保所有应用程序符合苹果的（隐私）规则才能通过应用商店。不幸的是，这种审查过程不是万无一失的，在用户投诉之后，这种有恶意的应用程序必须从应用商店删除。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>王同学考入华师</string>
			<key>text</key>
			<string>于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>张同学期中考试满分</string>
			<key>text</key>
			<string>机已经迅速发展了很多年，最新一代的只能手机基本上是微型版本的个人电脑，他们不仅提供打电话和发送信息，并且，他们是一个沟通和娱乐的平台，支持用户上网，发送电子邮件和玩游戏，移动手机可以无处不在，随时随地地允许信息访问。仅在2010年第二季度，全球有超过3亿的设备出售，由于手机的广泛应用和它们的声望，这些设备也就不足为奇了。商店中出现越来越多他们用户的敏感信息，例如，通讯录中包含有关用户与之交互的人，全球定位系统接收显示设备的确切位置，照片、电子邮件、浏览历史都可以包含私人信息</string>
		</dict>
		<dict>
			<key>title</key>
			<string>祝同学期末考试未挂科</string>
			<key>text</key>
			<string>上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许</string>
		</dict>
		<dict>
			<key>title</key>
			<string>刘同学期中考试满分</string>
			<key>text</key>
			<string>前用户研究针对苹果的IOS应用的隐私威胁。为此，我们提出一个新颖的方法和工具，这使我们能够分析项目从移动设备到第三方可能泄露敏感信息的地方。iOS 程序员在编译objective-c代码时使用静态分析来检测数据流在Match-0二进制文件。
    对于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。
	•	前言：
用户研究针对苹果的IOS应用的隐私威胁。为此，我们提出一个新颖的方法和工具，这使我们能够分析项目从移动设备到第三方可能泄露敏感信息的地方。iOS 程序员在编译objective-c代码时使用静态分析来检测数据流在Match-0二进制文件。
    对于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。
	•	前言：
</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>担任上海精锐教育初小学老师</string>
			<key>text</key>
			<string>用户研究针对苹果的IOS应用的隐私威胁。为此，我们提出一个新颖的方法和工具，这使我们能够分析项目从移动设备到第三方可能泄露敏感信息的地方。iOS 程序员在编译objective-c代码时使用静态分析来检测数据流在Match-0二进制文件。
    对于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。
	•	前言：
用户研究针对苹果的IOS应用的隐私威胁。为此，我们提出一个新颖的方法和工具，这使我们能够分析项目从移动设备到第三方可能泄露敏感信息的地方。iOS 程序员在编译objective-c代码时使用静态分析来检测数据流在Match-0二进制文件。
    对于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。
	•	前言：
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>担任上海中学中学老师</string>
			<key>text</key>
			<string>提出一个新颖的方法和工具，这使我们能够分析项目从移动设备到第三方可能泄露敏感信息的地方。iOS 程序员在编译objective-c代码时使用静态分析来检测数据流在Match-0二进制文件。
    对于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。
	•	前言：
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>担任中学教授</string>
			<key>text</key>
			<string>这使我们能够分析项目从移动设备到第三方可能泄露敏感信息的地方。iOS 程序员在编译objective-c代码时使用静态分析来检测数据流在Match-0二进制文件。
    对于用objectice-c方法调用的方式实现这一任务是非常具有挑战性的，我们分析了超过1400个iPhone应用程序。我们的实验表明，除了少数害群之马，大多数应用程序为了尊重用户将个人可识别信息存储在用户的设备上。即便如此，仍有越狱的手机上运行的程序托管在非官方的商店(Cydia)中。然而我们发现超过一半的应用程序运行时泄露唯一的设备ID。这允许第三方来创建用户对应用程序的偏好和使用方式的详细资料。
	•	前言：
</string>
		</dict>
	</array>
</array>
</plist>
