<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>course</key>
			<string>数学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>地点：学生家</string>
			<key>attendTime</key>
			<string>已完成1／5</string>
			<key>time</key>
			<string>2017.06.01</string>
			<key>newtime</key>
			<string>15:00-17:00</string>
		</dict>
		<dict>
			<key>course</key>
			<string>数学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>地点：学生家</string>
			<key>attendTime</key>
			<string>已完成2／5</string>
			<key>time</key>
			<string>2017.06.08</string>
			<key>newtime</key>
			<string>15:00-17:00</string>
		</dict>
		<dict>
			<key>course</key>
			<string>数学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>地点：学生家</string>
			<key>attendTime</key>
			<string>已完成3／5</string>
			<key>time</key>
			<string>2017.06.15</string>
			<key>newtime</key>
			<string>15:00-17:00</string>
		</dict>
		<dict>
			<key>course</key>
			<string>数学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>地点：学生家</string>
			<key>attendTime</key>
			<string>已完成4／5</string>
			<key>time</key>
			<string>2017.06.22</string>
			<key>newtime</key>
			<string>15:00-17:00</string>
		</dict>
		<dict>
			<key>course</key>
			<string>数学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>地点：学生家</string>
			<key>attendTime</key>
			<string>未完成5／5</string>
			<key>time</key>
			<string>2017.06.29</string>
			<key>newtime</key>
			<string>15:00-17:00</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>course</key>
			<string>英语</string>
			<key>name</key>
			<string>王老师</string>
			<key>price</key>
			<string>200</string>
			<key>attendTime</key>
			<string>10</string>
			<key>time</key>
			<string>2017.4.3</string>
		</dict>
		<dict>
			<key>course</key>
			<string>物理</string>
			<key>name</key>
			<string>张老师</string>
			<key>price</key>
			<string>300</string>
			<key>attendTime</key>
			<string>10</string>
			<key>time</key>
			<string>2017.5.3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>course</key>
			<string>数学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>200</string>
			<key>attendTime</key>
			<string>10</string>
			<key>time</key>
			<string>2017.3.1</string>
		</dict>
		<dict>
			<key>course</key>
			<string>语文</string>
			<key>name</key>
			<string>张老师</string>
			<key>price</key>
			<string>300</string>
			<key>attendTime</key>
			<string>10</string>
			<key>time</key>
			<string>2017.4.1</string>
		</dict>
		<dict>
			<key>course</key>
			<string>英语</string>
			<key>name</key>
			<string>陈老师</string>
			<key>price</key>
			<string>200</string>
			<key>attendTime</key>
			<string>10</string>
			<key>time</key>
			<string>2017.2.1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>course</key>
			<string>化学</string>
			<key>name</key>
			<string>李老师</string>
			<key>price</key>
			<string>200</string>
			<key>attendTime</key>
			<string>10</string>
			<key>time</key>
			<string>2017.4.1</string>
		</dict>
	</array>
</array>
</plist>
