<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lianxin-teacher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78B1815B1EC11F5000A1C0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B181741EC11F5100A1C0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B1817F1EC11F5100A1C0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
